*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.h6-size{
    font-size: 0.80rem;
    color: black;
}

.h6-size:hover{
    text-decoration: underline;
}

.h1-image{
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
    
}

.p-text{
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
}


/* Category Section */

category-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9%;
}

category-section a{
    font-weight: 500;
    font-size: 0.90rem;
}


/* Ad Section */

.ad-h1{
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    font-weight: 500;

}

.ad-h4{
    font-size: 1.4rem;
    margin-bottom: 0.75rem;
    font-weight: 500;

}

.ad-p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;

    margin: 5px;
}

.ad-p3{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;


}



.ad-p1{
    margin: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;


}

.ad-btn{
    color: #0067b1;

    font-size: 0.90rem;
    font-weight: 500;
}

#social > a > i {
    font-size: 22px;
    color: black;
    font-weight: 400;
}

/* Footer */

.footer-h6{
    padding: 36px 0 4px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #616161;
    word-break: break-word;
}

.footer-p{
    padding: 8px 0px;
    color: #616161;
    word-break: break-word;  
    font-size: 11px;
    line-height: 16px; 
    font-weight: 400;
}

.footer-p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.footer-end-p{
    font-size: 11px;
    line-height: 16px;
    padding-right: 4px;
    color: #616161;
    font-weight: 500;
}

.footer-end-p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.footer-a-text{
    padding: 0px 24px 4px 0px;
    font-size: 11px;
    line-height: 16px;
    color: #616161;
    font-weight: 500;
    text-decoration: none;
}

.footer-a-text:hover{
    cursor: pointer;
    text-decoration: underline;
}